.mid-col
   .mid-col-container
      #content.inner
         article.post
            .meta
               .date
                  time Oct 25, 2015
               .comment
                  a(href='/') 7 Comments
            h1.title
               a(href='')
                  | HTTP/2
                  | 头部压缩技术介绍
            .entry-content
               | 我们知道，HTTP/2 协议由两个 RFC 组成：一个是 RFC 7540，描述了 HTTP/2 协议本身；一个是 RFC 7541，描述了
               | HTTP/2 协议中使用的头部压缩技术。本文将通过实际案例带领大家详细地认识 HTTP/2 头部压缩这门技术。[...]
               p
               p
                  a.more-link(href='/')
                     | 继续阅读
                     | »

         nav#pagenavi
            a.next(href='/') 下一页 »
            .center
               a(href='/') 博客归档



         include footer

