footer#footer.inner
   | © 2015 - YouQingKui 的小站 -
   a(href='/') youqingkui.me
   |             -
   br
   |             Powered by
   a(target='_blank', href='http://nodejs.org/') NodeJS
   |   &
   a.external(target='_blank', rel='nofollow designer', href='https://github.com/shashankmehta/greyshade') GreyShade