.left-col
   .intrude-less
      header#header.inner
         .profilepic
            a(href='/')
         h1
            a(href='/') YouQingKui
         p.subtitle Pythoner
         nav#main-nav
            ul
               li.on
                  a(href='／')
                     span 首页

               li
                  a(href='')
                     span 归档
               li
                  a(href='')
                     span 标签
               li
                  a(href='')
                     span 关于
         
